{% extends 'base.html' %}

{% block body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% if cart == {} %}
        <p>Your cart is currently empty.</p>

        {% else %}
        {% for item in cart %}
        <tr>
            <td>{{ melon_types[item].common_name }}</td>
            <td>{{ cart[item] }}</td>
            <td>{{ melon_types[item].price | currencyFormat }}</td>
            <td>{{ (melon_types[item].price * cart[item]) | currencyFormat }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<h3>Total:
    {{ total | currencyFormat }}
</h3><br>
<div>
    <a href="/checkout" class="btn btn-lg btn-primary">Check Out</a>

    <a href="/melons" class="btn btn-lg btn-success">Continue Shopping</a>
</div>
{% endblock %}