{% extends 'base.html' %}

{% block body %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td>{{ melon_types[item].common_name }}</td>
            <td>{{ cart[item] }}</td>
            <td>{{ melon_types[item].price | currencyFormat }}</td>
            <td>{{ (melon_types[item].price * cart[item]) | currencyFormat }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total:

    <!-- Sum all using format of last td -->
    $27.00</h3>

<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}